<!--
@name= login.component.html()
  @author= Mario Alonso Valencia
  @version= 1.0
  @description= Main user interface of the Login component
  @date = 25-05-2020
-->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first m-2">
      <img src="https://image.flaticon.com/icons/svg/235/235861.svg" alt="" width="20%">
      <span></span>
    </div>

    <!-- Login Form -->
    <form #login="ngForm">
      <input type="text" id="login" placeholder="login" class="fadeIn second" name="username" #userName="ngModel"
        [(ngModel)]="username" pattern="^[a-zA-Z0-9-]+$" required>
      <!-- Error div when error required -->
      <div class="" *ngIf="!userName.pristine && userName.errors && userName.errors.required">
        <span class="text-danger">Please, the username cannot be empty</span>
      </div>
      <!-- Error div when error pattern -->
      <div class="" *ngIf="userName.errors && userName.errors.pattern">
        <span class="text-danger">The username only accepts letters and numbers</span>
      </div>
      <input type="text" id="password" class="fadeIn third" name="password" placeholder="password" #passWord="ngModel"
        [(ngModel)]="password" pattern="^(?=.*\d).{4,8}$" required>
      <!-- Error div when error pattern -->
      <div class="" *ngIf="passWord.errors && passWord.errors.pattern">
        <span class="text-danger">Password expression. Password must be between 4 and 8 digits long and include at
          least one numeric digit.</span>
      </div>
      <input type="submit" class="fadeIn fourth" value="Log In" (click)="userlogin()" [disabled]="!login.valid">
      <a *ngIf="flag == true" [routerLink]="['/home']">Login</a>
      <a *ngIf="flag == false" class="text-danger">The user is not logged</a>
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#" [routerLink]="['/home/mapMedia']">Forgot Password?</a>
    </div>

  </div>
</div>

<app-root></app-root>

<!-- <div class="sidenav">
  <div class="login-main-text">
    <h2>Application<br> Login Page</h2>
    <p>Login or register from here to access.</p>
  </div>
</div>

<div class="main">
  <div class="col-md-6 col-sm-12">
    <div class="login-form">
      <form #login="ngForm">

        <h5 style="color: blue;">Login</h5>
        <h6>Username:</h6>
        <input type="text" placeholder="User1" value="" name="username" #userName="ngModel" [(ngModel)]="username"
          required pattern="^[a-zA-Z0-9-]+$">
        <div class="col-sm-4" *ngIf="!userName.pristine && userName.errors && userName.errors.required">
          <span class="text-danger">Please, the username cannot be empty</span>
        </div>
        <div class="col-sm-4" *ngIf="userName.errors && userName.errors.pattern">
          <span class="text-danger">The username only accepts letters and numbers</span>
        </div>

        <h6>Password:</h6>
        <input type="password" name="password" value="" #passWord="ngModel" [(ngModel)]="password"
          pattern="^(?=.*\d).{4,8}$" required>
        <div class="col-sm-4" *ngIf="!passWord.pristine && passWord.errors && passWord.errors.required">
          <span class="text-danger">Please, the password cannot be empty</span>
        </div>
        <div class="col-sm-4" *ngIf="passWord.errors && passWord.errors.pattern">
          <span class="text-danger">Password expression. Password must be between 4 and 8 digits long and include at
            least
            one numeric digit.</span>
        </div>
        <br>
        <button (click)="userlogin()" class="btn btn-primary" type="button" [disabled]="!login.valid">Check
          User</button>
        <br>
        <a *ngIf="flag == true" [routerLink]="['/home']">Login</a>
        <a *ngIf="flag == false" class="text-danger">The user is not logged</a>
      </form>
    </div>
  </div>
</div> -->
