@import url('https://js.arcgis.com/4.15/esri/themes/dark/main.css');
#mapa {
    margin-top: 2%;
    height: 94%;
    width: 95%;
    float: right;
}

.scrolling {
    margin-top: 2%;
    height: 33em;
    overflow: auto;
    border: 0px solid #ccc;
}

.scrolling>div {
    margin-bottom: 2%;
}

.example-card {
    max-width: 350px;
}

.example-header-image {
    background-image: url(https://cdn1.iconfinder.com/data/icons/social-media-set-for-free/32/youtube_video_player-512.png);
    background-size: cover;
}

.example-tooltip-red {
  background: #b71c1c;
}
