@import url('https://js.arcgis.com/4.15/esri/themes/dark/main.css');
#mapa {
    padding: 0;
    margin-top: 2%;
    height: 47em;
    width: 100%;
}

.scrolling {
    margin-top: 2%;
    height: 34em;
    overflow: auto;
    border: 0px solid #ccc;
}

.scrolling>div {
    margin-bottom: 2%;
}

.example-card {
    max-width: 350px;
}

.example-header-image {
    background-image: url(https://cdn1.iconfinder.com/data/icons/social-media-set-for-free/32/youtube_video_player-512.png);
    background-size: cover;
}
