<!-- <iframe scrolling="no" frameborder="0" style="height: 900px; width: 1600px;" src="https://www.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6"></iframe> -->

<div class="container-fluid row">

  <div class="col-lg-7 col-md-6 col-sm-12">
    <div id="mapa"></div>
  </div>

  <div class="col-lg-5 col-md-6 col-sm-12">

    <div class="input-group mb-3" style="margin-top: 5%;">
      <input type="text" class="form-control" placeholder="SARS" aria-label="search" aria-describedby="button-addon2">
      <div class="input-group-append">
        <button class="btn btn-primary" type="button" id="button-addon2">search</button>
      </div>
    </div>

    <div class="scrolling row mt-auto p-2 bd-highlight" cdkScrollable>
      <div class="col-lg-6 col-md-12">

        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-subtitle>Name Channel</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu" style="margin-top: 5%;">
          <mat-card-content>
            <mat-card-title>Title video</mat-card-title>
            <p style="font-size: 12px;">
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-stroked-button color="warn" (click)="openDialog()">PLAY</button>
            <button mat-stroked-button color="accent">SHARE</button>
          </mat-card-actions>
        </mat-card>

      </div>
      <div class="col-lg-6 col-md-12">

        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-subtitle>Name Channel</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu" style="margin-top: 5%;">
          <mat-card-content>
            <mat-card-title>Title video</mat-card-title>
            <p style="font-size: 12px;">
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-stroked-button color="warn">LIKE</button>
            <button mat-stroked-button color="accent">SHARE</button>
          </mat-card-actions>
        </mat-card>

      </div>
      <div class="col-lg-6 col-md-12">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-subtitle>Name Channel</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu" style="margin-top: 5%;">
          <mat-card-content>
            <mat-card-title>Title video</mat-card-title>
            <p style="font-size: 12px;">
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-stroked-button color="warn">LIKE</button>
            <button mat-stroked-button color="accent">SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-lg-6 col-md-12">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-subtitle>Name Channel</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu" style="margin-top: 5%;">
          <mat-card-content>
            <mat-card-title>Title video</mat-card-title>
            <p style="font-size: 12px;">
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-stroked-button color="warn">LIKE</button>
            <button mat-stroked-button color="accent">SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-lg-6 col-md-12">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-subtitle>Name Channel</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu" style="margin-top: 5%;">
          <mat-card-content>
            <mat-card-title>Title video</mat-card-title>
            <p style="font-size: 12px;">
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-stroked-button color="warn">LIKE</button>
            <button mat-stroked-button color="accent">SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-lg-6 col-md-12">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-subtitle>Name Channel</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu" style="margin-top: 5%;">
          <mat-card-content>
            <mat-card-title>Title video</mat-card-title>
            <p style="font-size: 12px;">
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-stroked-button color="warn">LIKE</button>
            <button mat-stroked-button color="accent">SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>


    </div>

    <div class="input-group" style="margin-top: 5%;">
      <div class="input-group-prepend">
        <span class="input-group-text">Choose between dates</span>
      </div>
      <input type="number" aria-label="First name" placeholder="2013" class="form-control">
      <input type="number" aria-label="Last name" placeholder="2020" class="form-control">
    </div>

    <button class="btn btn-primary" type="button" id="button-addon2" style="margin-top: 5%;">Get BBDD</button>

  </div>
</div>
